[Unit]
Description=configuration file for API Execution

[Service]
Type=simple
WorkingDirectory=/home/user/EnergyExplorer #edit appropriately
ExecStart=/usr/bin/python3 fetch_handler.py
Restart=no

[Install]
WantedBy=multi-user.target